/* You can add global styles to this file, and also import other style files */
.wrapper,
body,
html {
  min-height: 100vh !important;
}
.wrapper .content-wrapper {
  min-height: calc(100vh - calc(3.5rem + 1px));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
